.row
  .large-12.columns
    %h1 Messages
    %table
      %thead
        %tr
          %th Name
          %th Email
          %th Subject
          %th Body
          %th{:colspan => "2"}
      %tbody
        - @messages.each do |message|
          %tr
            %td= message.name
            %td= message.email
            %td= message.subject
            %td= message.body
            %td= link_to 'Show', message
            %td= link_to 'Destroy', message, method: :delete, data: {confirm: 'Are you sure?'}
