.row
  .medium-12.columns
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "#"} Lesleh.co.uk
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          = active_link_to "Blog", posts_path, :wrap_tag => :li
          = active_link_to "About", about_path, :wrap_tag => :li
          = active_link_to "Projects", projects_path, :wrap_tag => :li
          = active_link_to "Photos", photos_path, :wrap_tag => :li
          = active_link_to "Contact", contact_path, :wrap_tag => :li
