!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      #{@page_title}
      = ' - ' if @page_title
      Lesleh.co.uk
    %link{:type => 'image/img', :href => '/favicon.png', :rel => 'icon'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', :rel => 'stylesheet', :type => 'text/css'}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "modernizr/modernizr"
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    = render 'layouts/messages'

    %main{:role => 'main'}
      .container
        = yield

    = render 'layouts/footer'
    = javascript_include_tag "application"
