!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      #{@page_title}
      = ' - ' if @page_title
      Lesleh.co.uk
    %link{:type => 'image/img', :href => '/favicon.png', :rel => 'icon'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', :rel => 'stylesheet', :type => 'text/css'}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "modernizr/modernizr"
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    = render 'layouts/messages'

    %main{:role => 'main'}
      = yield

    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Leslie Hoare.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{:href => 'http://www.github.com/lesleh/Site/'} Github
              - if logged_in?
                %li
                  = link_to "Logout", session_logout_path
              - else
                %li
                  = link_to "Login", session_login_path
    = javascript_include_tag "application"
